body {
    background-color: #f7f9fc;
    font-family: Lato;
    color: #333;
}

textarea {
    font-family: Consolas, monospace;
    font-size: 0.9rem;
}

h2,
h4,
h5 {
    color: #2c3e50;
}

.card {
    border-radius: 10px;
}